@import "_vars";
@import "_global";
@import "_fonts";
@import "_media";

// start header
.header {
	&__top-contacts{
		display: flex;
		justify-content: space-between;

		a{
			margin-top: 4px;

			span:nth-child(even) {
				@include f500;
				color: $green;
				padding-top: 4px;
				margin: auto;
			}

			span:last-child {
				font-size: 9px;
				line-height: 18px;
				color: #205B1B;
				display: block;
				margin: -15px 38px;
			}
		}
	}
}

//end header



